{% extends 'base.html' %}
{% block content %}



{% for photo in scene.photo_set.all %}
<div class="container">
<div class="center-align">
      <img class="responsive-img card-panel"  style="box-shadow:none" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text">No Photos Uploaded</div>
    {% endfor %}
  </div>
</div>
{% if user.username == scene.user.username %}
<form action="{% url 'add_photo' scene.id %}" enctype="multipart/form-data" method="POST" class="card-panel center-align" style="box-shadow:none;">
    {% csrf_token %}
    <input type="file" name="photo-file" style="transform:translate(25px, 0px);">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>
{% else %}
{% endif %}
<div class="container" style="width:70%">
<div class="card"  style="box-shadow:none">
  <div class="card-content">
    <div class="card-title" style="font-size:23px;">{{ scene.location }}</div><img src="https://img.icons8.com/windows/32/000000/like.png" style="position:absolute; top:0; left:745px"><img src="https://img.icons8.com/material-outlined/24/000000/topic.png" style="position:absolute; top:4px; left:790px">
    <div class="user-title">{{ scene.user }}</div> 
    <br>
    <div class="descr" style="font-family:Raleway">
    <p>{{ scene.description }}</p>
  </div>
  </div>
</div>
</div>
<br>
  <div class="card-action center-align">
        <a href="{% url 'scenes_update' scene.id %}">Edit</a>
        <a href="{% url 'scenes_delete' scene.id %}" style="color:red">Delete</a>
      </div>

<br>
{% endblock %}