{% extends 'base.html' %}
{% block content %}



{% for photo in scene.photo_set.all %}
<div class="center-align">
      <img class="responsive-img card-panel" style="box-shadow:none; width:80%;" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
  </div>
<div class="card">
  <div class="card-content" style="margin:20px 80px 0px 80px">
    <span class="card-title" style="font-size:25px;">{{ scene.location }}</span>
    <div class="user-title">{{ scene.user }}</div> 
    <div class="description" style="margin:20px 50px 20px 50px"><p>{{ scene.description }}</p></div>
  </div>
  <div class="card-action">
        <a href="{% url 'scenes_update' scene.id %}">Edit</a>
        <a href="{% url 'scenes_delete' scene.id %}">Delete</a>
      </div>
</div>

{% endblock %}