{% extends 'base.html' %}
{% block content %}



{% for scene in scenes %}
<div class="container">
<div class = "center-align">
  
    {% for photo in scene.photo_set.all %}
      <img class="responsive-img card-panel card large" style="width:100%" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
     </div>
    <div class="card">
            <a href="{% url 'detail' scene.id %}">
            <div class="card-content">
              
                <b><div class="card-title"><b>{{ scene.location }}</b></div></b>
                <br>
                <br>
                <br>
             <p> <div class="desc"> {{ scene.description }}</div></p>
             <br>
             <br>
            </div>
        </a>
      </div>
    
  </div>
{% endfor %}
{% endblock %}