{% extends 'base.html' %}
{% block content %}



{% for scene in scenes %}
<div class="container">
<div class = "center-align" style="border-bottom:none;">
  
    {% for photo in scene.photo_set.all %}
      <img class="responsive-img card-panel card large" style="width:100%;box-shadow:none!important;" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
     </div>
    <div class="card" style="box-shadow:none!important;">
            <a href="{% url 'detail' scene.id %}">
            <div class="card-content">
              
                <b><div class="card-title">{{ scene.location }}</div>
                <div class="user-title">{{ scene.user }}</div> 
                <br>
                <br>
                <br>
             <p> <div class="desc"> {{ scene.description }}</div></p>
             <br>
             <br>
            </div>
        </a>
      </div>
    
  </div>
{% endfor %}
{% endblock %}