
/* .card {
    font-family: 'Raleway', sans-serif;
    
} */
.card-content {
    font-family: 'Raleway extra-bold 800', sans-serif;
    

}
.card{
    margin-bottom: 0px;
}
.card-panel{
    padding-bottom: 0px;
}
.card .card-title{
    font-weight: 600;
    font-size: 18px;
    font-family: 'Raleway'
}
.card .user-title{
    font-weight: normal;
    line-height: 33px;
    font-family: 'Raleway';
    font-size: 18px;
    color: #1F4F57
}
.card-title {
    font-family: 'Raleway 800', sans-serif;
    color: #266570;
    position: absolute;
    top:0;
    left:10;
}
.brand-logo {
    left:100px;
}
.nav-mobile {
    right:100px;
}

.desc {
    position: absolute;
    top:70px;
    left: 100px;
    right: 50px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}


html {

    font-size: 17px;
}
nav {
    height: 100px;
    line-height: 100px;
    font-family: 'Teko', sans-serif;
    border-bottom: 5px solid teal;
    
}

/* .topleft {
    position: absolute;
} */